.loader-container{
  position:fixed;
  top:0;
  bottom: 0;
  left:0;
  right:0;
  background-color:rgba(0, 0, 0, .6);
  z-index:999;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  display:none;
}

.loader-container.active{
  display:block;
}

.loader-content{
  height:100%;
  display:flex;
  justify-content: center;
  align-items:center;
}

.loader {
    border: 10px solid #f3f3f3;
    border-top-color: #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin .8s linear infinite;
}

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }