.category-card {
    background-color: #f4f5f0;
    padding: 20px 10px;
    border-radius: 7px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .6);
}

.category-card-title {
    font-weight: 700;
    text-align: center;
    font-size: 30px;
    line-height:35px;
}

.activities-container {
    margin-top: 30px;
}

.activities-title {
    font-size: 24px;
    margin-bottom: 30px;
}