.site-container {
    font-family: 'Open Sans', sans-serif;
    background-color: #fafafa;
    color: #19345b;
    padding: 20px;
    margin: 0 auto;
}

input {
    border: 2px solid lightgray;
    border-radius: 4px;
    padding: 20px 10px;
    font-size: 22px;
    width: 100%;
    max-width: 100%;
}